<!--The content below is only a placeholder and can be replaced.-->



<!--
<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true"><nav>
    <a routerLink="/">Home</a>
    <a routerLink="about/48">About</a>
  </nav></mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>

-->
<mat-toolbar color="primary" class="mat-elevation-4">
    <button type="button" mat-button (click)="drawer.toggle()">|||
      </button>
</mat-toolbar>

<mat-sidenav-container>  
  <mat-drawer-container class="example-container" style="height:900px" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      
      <!--mat-list>
          <mat-list-item> <a routerLink="/">Home</a> </mat-list-item>
          <mat-list-item> <a routerLink="about/48">About</a> </mat-list-item>
      </mat-list-->
      <ul class="menu">
          <li> <a routerLink="/">Home</a> </li>
          <li> <a routerLink="about/48">About</a> </li>
      </ul>
      
    </mat-drawer>

    <div class="example-sidenav-content">
      
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</mat-sidenav-container>